kind: PersistentVolumeClaim
apiVersion: v1
metadata:
    name: cohort-config
    annotations:
        ibm.io/auto-create-bucket: "true"
        ibm.io/auto-delete-bucket: "false"
        ibm.io/auto_cache: "true"
        ibm.io/bucket: cohort-config
        ibm.io/secret-name: cos-cohort-dev-s3fs
        ibm.io/set-access-policy: "true"
spec:
    storageClassName: ibmc-s3fs-standard-regional
    accessModes:
        - ReadWriteMany
    resources:
        requests:
            storage: 200Mi
