apiVersion: v1
type: ibm/ibmc-s3fs
kind: Secret
metadata:
  name: cos-cohort-dev-s3fs
  namespace: dev
data:
  # The values can be found in the Service Credentials for the COS service instance
  access-key: CHANGEME-cos_hmac_keys.access_key_id
  secret-key: CHANGEME-cos_hmac_keys.secret_access_key
  res-conf-apikey: CHANGEME-apikey

