#
# (C) Copyright IBM Corp. 2021, 2021
#
# SPDX-License-Identifier: Apache-2.0
#
INSIGHTS:
  ID: "9b253889-dee0-47f4-9ea0-402306239aaa"
CI:
  DOCKER_IMAGE_NAME: "cohorting-app"
  UMBRELLA_REPO_PATH: "https://github.ibm.com/watson-health-cohorting/wh-cohorting-umbrella.git"
  REGISTRY_NAMESPACE: "cdt-provider-cohort-rns"
  POLICY_NAME: "CI"
  NOLATEST: "true"
  REPORT_PATH: "lcov.info"
  BUILDCACHE: "false"
  REPLACEARGS: "true"
  VAULT_KEYS_TO_INJECT: "IBM_GITHUB_PUBLIC_USERNAME,IBM_GITHUB_PUBLIC_TOKEN"
  # added to allow mixed case branch names (toolchains fail on mixed case branch names without this set,
  # could remove when we switch to using main branch
  RELEASE_NAME_NO_GIT_BRANCH: "true"
CIVALIDATE:
  BUILD_FILE: "cohort-parent/pom.xml"
  BUILD_OPTIONS: "package -s /workspace/.toolchain.maven.settings.xml"
  VAULT_KEYS_TO_INJECT: "IBM_GITHUB_PUBLIC_USERNAME,IBM_GITHUB_PUBLIC_TOKEN"
  #tabishop added to allow mixed case branch names, can remove when we swtich to using main branch
  RELEASE_NAME_NO_GIT_BRANCH: "true"
CD:
  POLICY_NAME: "CD"
  APP_NAME: "cohort-services"
# For a successful build to be promoted to Staging or Production, it is necessary to have an associated approved Service Now ticket.
# The SERVICENOW_SERVICENAME value should match the "Configuration item" as defined in the servicenow change request.
# See https://github.ibm.com/whc-toolchain/whc-commons/blob/2c9cfd2a3683dc5ba993d338f9fb0172165fb516/docs/launch/approval-gate.md
  SERVICENOW_SERVICENAME: "wh-csp-core"
  TILLERSERVICEACCOUNTDISABLE: "true"
  HELM_TIMEOUT: "1800"
  USESOURCE: "true"
  USEHELMV3: "true"
  VAULT_KEYS_TO_INJECT: "WH_COHORTING_APP_TOOLCHAIN_PORT,WH_COHORTING_APP_TOOLCHAIN_REPLCOUNT"
  # added to allow mixed case branch names (toolchains fail on mixed case branch names without this set,
  # could remove when we switch to using main branch
  RELEASE_NAME_NO_GIT_BRANCH : "true"
CT:
  POLICY_NAME: "CT"
COT:
  POLICY_NAME: "COT"
STAGECD:
  POLICY_NAME: "STAGECD"
STAGECVV:
  POLICY_NAME: "STAGECVV"
PRODCD:
  POLICY_NAME: "PRODCD"
PRODCGL:
  POLICY_NAME: "PRODCGL"
ASOC:
  ASOC_APP_NAME: "alvearie-quality-measure-and-cohort-service"
  KEY_ID: "6d4aef9f-b1e8-9af9-cbfc-c200dee80fe2"
COPYCHECK:
  VERSION: "cival706"