INSIGHTS:
  ID: "79c9240a-00a3-413a-b7da-12069451a7c1"
CI:
  DOCKER_IMAGE_NAME: "cohorting-app"
  UMBRELLA_REPO_PATH: "https://github.ibm.com/watson-health-cohorting/wh-cohorting-umbrella.git"
  REGISTRY_NAMESPACE: "cdt-provider-cohort-rns"
  POLICY_NAME: "CI"
  NOLATEST: "true"
  SONARQUBE_VERSION: "v1.0.3"
#  PREFIX: "njss"
  PREFIX: "cohort"
  REPORT_PATH: "lcov.info"
  BUILDCACHE: "false"
  REPLACEARGS: "true"
#  VAULT_KEYS_TO_INJECT: "maintainer"
  VAULT_KEYS_TO_INJECT: "WH_COHORTING_APP_TOOLCHAIN_MAINTAINER"
  #tabishop added to allow mixed case branch names, can remove when we swtich to using main branch
  RELEASE_NAME_NO_GIT_BRANCH: "true"
CD:
  POLICY_NAME: "CD"
#  APP_NAME: "njss"
  APP_NAME: "cohort"
  SERVICENOW_SERVICENAME: "wh-csp-core"
  TILLERSERVICEACCOUNTDISABLE: "true"
  HELM_TIMEOUT: "1800"
  USESOURCE: "true"
  USEHELMV3: "true"
#  VAULT_KEYS_TO_INJECT: "PORT,REPLCOUNT"
  VAULT_KEYS_TO_INJECT: "WH_COHORTING_APP_TOOLCHAIN_PORT,WH_COHORTING_APP_TOOLCHAIN_REPLCOUNT"
  #tabishop added to allow mixed case branch names, can remove when we swtich to using main branch
  RELEASE_NAME_NO_GIT_BRANCH : "true"
CT:
  POLICY_NAME: "CT"
COT:
  POLICY_NAME: "COT"
STAGECD:
  POLICY_NAME: "STAGECD"
STAGECVV:
  POLICY_NAME: "STAGECVV"
PRODCD:
  POLICY_NAME: "PRODCD"
PRODCGL:
  POLICY_NAME: "PRODCGL"
ASOC:
  ASOC_APP_NAME: "WH-StarterApp-ASOC-Static-tabishop"
  KEY_ID: "ddf9ec6c-0458-08cc-6b37-18a11a60dc77"
COPYCHECK:
  VERSION: "cival706"