#
# (C) Copyright IBM Corp. 2021, 2021
#
# SPDX-License-Identifier: Apache-2.0
#
# If you are deploying from the wh-cohorting-deploy umbrella repo,
# you will need to update this value with the Insights id from your cluster
INSIGHTS:
  ID: "9b253889-dee0-47f4-9ea0-402306239aaa"
CI:
  DOCKER_IMAGE_NAME: "cohorting-app"
  UMBRELLA_REPO_PATH: "https://github.ibm.com/watson-health-cohorting/wh-cohorting-umbrella.git"
  REGISTRY_NAMESPACE: "vpc-dev-cohort-rns"
  POLICY_NAME: "CI"
  NOLATEST: "true"
  REPORT_PATH: "lcov.info"
  BUILDCACHE: "false"
  REPLACEARGS: "true"
  VAULT_KEYS_TO_INJECT: "IBM_GITHUB_PUBLIC_USERNAME,IBM_GITHUB_PUBLIC_TOKEN"
  # added to allow mixed case branch names (toolchains fail on mixed case branch names without this set,
  # could remove when we switch to using main branch
  RELEASE_NAME_NO_GIT_BRANCH: "true"
  USEHADOLINT: "true"
  SONARQUBE_ENABLED: "false"
  BUILD_FILE: "cohort-parent/pom.xml"
# pass in git credentials in .toolchain.maven.settings.xml
# this is required to download rest-service-framework dependencies
# in github packages and also the cql engine libraries
# actual git credential values are stored in key protect in the cloud cluster
# and injected via env variables when the toolchain runs
  BUILD_OPTIONS: "clean install -T 2 -f cohort-parent -s .toolchain.maven.settings.xml"
CIVALIDATE:
  BUILD_FILE: "cohort-parent/pom.xml"
  BUILD_OPTIONS: "package -s /workspace/.toolchain.maven.settings.xml"
  VAULT_KEYS_TO_INJECT: "IBM_GITHUB_PUBLIC_USERNAME,IBM_GITHUB_PUBLIC_TOKEN"
  # added to allow mixed case branch names, can remove when we swtich to using main branch
  RELEASE_NAME_NO_GIT_BRANCH: "true"
CD:
  POLICY_NAME: "CD"
  APP_NAME: "cohort-services"
# For a successful build to be promoted to Staging or Production, it is necessary to have an associated approved Service Now ticket.
# The SERVICENOW_SERVICENAME value should match the "Configuration item" as defined in the servicenow change request.
# See https://github.ibm.com/whc-toolchain/whc-commons/blob/2c9cfd2a3683dc5ba993d338f9fb0172165fb516/docs/launch/approval-gate.md
  SERVICENOW_SERVICENAME: "offering-needs-to-change"
  TILLERSERVICEACCOUNTDISABLE: "true"
  HELM_TIMEOUT: "1800"
  USESOURCE: "true"
  USEHELMV3: "true"
  # These keys are used by our full FVT tests which require a fhir server with specific test data loaded
  # If you are deploying from the wh-cohorting-deploy umbrella repo, the full fvt tests have been removed
  # and the vault keys are not required when deploying from that repo
  VAULT_KEYS_TO_INJECT: "FHIR_USER_PASSWORD,FHIR_TRUSTSTORE_PASSWD"
  # added to allow mixed case branch names (toolchains fail on mixed case branch names without this set,
  # could remove when we switch to using main branch
  RELEASE_NAME_NO_GIT_BRANCH : "true"
CT:
  POLICY_NAME: "CT"
  VAULT_KEYS_TO_INJECT: "FHIR_USER_PASSWORD,FHIR_TRUSTSTORE_PASSWD"
COT:
  POLICY_NAME: "COT"
STAGECD:
  POLICY_NAME: "STAGECD"
STAGECVV:
  POLICY_NAME: "STAGECVV"
PRODCD:
  POLICY_NAME: "PRODCD"
PRODCGL:
  POLICY_NAME: "PRODCGL"
ASOC:
  ASOC_APP_NAME: "alvearie-quality-measure-and-cohort-service"
  KEY_ID: "fcbe5243-558b-b398-fb12-9dabc99f6d46"
COPYCHECK:
  VERSION: "cival706"
DO_NOT_RUN:
  CHAOS: "true"
CONFIG:
  NO_SMOKE_TEST: "terraform-env"
