<!--  ************************************** -->
<!--  (C) Copyright IBM Corp. 2018, 2020     -->
<!--  SPDX-License-Identifier: Apache-2.0    -->
<!--  ************************************** -->
<server description="cohort-engine">
	<featureManager>
        <feature>localConnector-1.0</feature>
    	<feature>jaxrs-2.1</feature>
        <feature>servlet-4.0</feature>
		<feature>transportSecurity-1.0</feature>
		<feature>beanValidation-2.0</feature>
	</featureManager>

	<ssl id="defaultSSLConfig" sslProtocol="TLSv1.2" />

    <keyStore id="defaultKeyStore" password="abc123"/>

	<!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
	<httpEndpoint host="*" httpPort="10016" httpsPort="11016" id="defaultHttpEndpoint" />

	<applicationMonitor dropinsEnabled="false" updateTrigger="mbean"/>
	<httpDispatcher enableWelcomePage="false"/>
	<webContainer deferServletLoad="false"/>

   	<logging consoleLogLevel="INFO" maxFileSize="20" maxFiles="10" traceSpecification=""/>
	<!-- Other frequently enabled tracing
	<logging traceSpecification="*=info:com.ibm.ws.webservices.*=all:org.apache.*=all:com.ibm.ws.websvcs.*=all"/>
	<logging consoleLogLevel="INFO" maxFileSize="20" maxFiles="100" traceSpecification="com.ibm.ws.classloading.*=all"/>
	-->

<!-- The application element should get added when you deploy the service to liberty -->
<!--
 	<application id="cohort-engine" location="cohort-engine.war" name="cohort-engine" />
 -->

</server>
